a {
  font-family: Roboto;
  color: #333330;

  &:hover {
    color: #262623;
  }
}

.contact-form {
  font-family: Roboto;
  color: #333330;

  h1 {
    font-size: 11.5vw;
    font-weight: 300;
    text-shadow: rgba(0, 0, 0, 0.4) 0px 4px 5px;

    .foto {
      font-weight: bold;
    }
  }


  .form-control {
    border-radius: 0;

    &:focus {
      border-color: #262623;
      box-shadow: 0 0 0 0.2rem rgba(93, 93, 90, 0.5);
    }
  }

  .child-height-100 {
    div {
      height: 100%;
    }

    .form-group {
      padding-bottom: 1rem;
    }
  }

  .headline {
    position: relative;
    left: calc(100% - 100vw - 20em );
    bottom: auto;
    top: 150px;
    animation-name: slide, slideUp;
    animation-duration: 0.5s, 0.3s;
    animation-delay: 0.2s, 0.7s;
    animation-fill-mode: forwards, forwards;
  }

  @-webkit-keyframes slide {
    100% {
      left: 0;
    }
  }

  @keyframes slide {
    100% {
      left: 0;
    }
  }


  .fadein {
    visibility: hidden;
    top: 150px;
    animation-name: slideUp, opacity;
    animation-duration: 0.3s, 0.5s;
    animation-delay: 0.7s, 1s;
    animation-fill-mode: forwards, forwards;
  }

  @-webkit-keyframes opacity {
    0% {
      position: inherit;
      opacity: 0;
    }
    100% {
      position: inherit;
      visibility: visible;
      opacity: 1;
    }
  }

  @keyframes opacity {
    0% {
      position: inherit;
      opacity: 0;
    }
    100% {
      position: inherit;
      visibility: visible;
      opacity: 1;
    }
  }

  @-webkit-keyframes slideUp {
    100% {
      top: 0;
    }
  }
  @keyframes slideUp {
    100% {
      top: 0;
    }
  }


}

.btn {
  border-radius: 0;
  background-color: #333330;
  border-color: #333330;

  &:not(:disabled):not(.disabled):active, &:hover {
    color: #fff;
    background-color: #262623;
    border-color: #262623;
  }

  &:not(:disabled):not(.disabled):active:focus:hover {
    box-shadow: 0 0 0 0.2rem rgba(93, 93, 90, 0.5);
  }
}
